<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <%- include("LinkDesign"); -%>
  <link rel="stylesheet" href="css/Home_Services.css">
  <title>Home Services</title>
</head>

<body>
  <%- include("header_second"); -%>
  <section id="main_1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1>Event Services</h1>
          <h5>Daily Services is the leading web application to find local service providers like cleaners, part time maids, electricians, air conditioning experts, plumbers and other home pros.
          Use our app to book reliable professionals at the tap of a button. All our service providers are vetted.
          </h5>
          <h5>Need helper? Book your service now!</h5>
        </div>
        <div class="col-lg-4">
          <img class="img-1" src="images/human-services.png" alt="picture">
        </div>
      </div>
    </div>
  </section>
  <%- include('DisplayListServices'); -%>

  <%- include('WhyGetServiceFromUs'); -%>
</body>
  <%- include('footer'); -%>
</html>
