<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Profile</title>

  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap" rel="stylesheet">

  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>

  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>
  <header id="header">
    <div class="d-flex flex-column">
      <div class="profile">
        <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="/UserProfile"><%= Name %></a></h1>
      </div>
      <nav class="nav-menu">
        <br>
        <h5 class="text-light" align="center" style="margin-bottom: 10px;"><b>DASHBOARD</b></h5>
        <ul>
          <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#personalInfo"><i class="bx bx-user"></i> <span>Personal Information</span></a></li>
          <li><a href="#serviceInfo"><i class="bx bx-file-blank"></i> <span>Services Information</span></a></li>
          <li><a href="#uploadService"><i class="bx bx-book-content"></i>Upload Services</a></li>
        </ul>
        <br>
        <h5 class="text-light" align="center" style="margin-bottom: 10px; margin-top: 30px;"><b>UPDATE</b></h5>
        <ul>
          <li><a href="#updatePersonalInfo"><i class="bx bx-server"></i>Personal Information</a></li>
        </ul>
      </nav>
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>
    </div>
  </header>

  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Daily Services</h1>
      <p>Hire the best <span class="typed" data-typed-items="Home Cleaner, Electrician, Plumber, Photographer"></span></p>
      <h2>The easiest way to hire the best and
        <br> reliable service professionals
        <br>for your home.
      </h2>
      <br>
      <a href="/goMainMenu" type="button" class="btn btn-outline-warning btn-lg buttonBook">Book Service</a>
      <a href="#uploadService" type="button" class="btn btn-secondary btn-danger btn-lg">Post Service</a>
    </div>
  </section>

  <main id="main">
    <section id="personalInfo" class="personalInfo">
      <div class="container">
        <div class="section-title">
          <h2>Personal Information</h2>
          <p style="line-height: 1.5;">"<%= Summary %>"</p>
        </div>
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3><%= FullName %>.</h3>
            <p style="padding-top:10px; line-height: 1.5;"><%= Add1 %>, <%= Add2 %>, <%= Postcode %>, <%= City %>, <%= State %></p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Name : </strong><%= FullName %></li>
                  <li><i class="icofont-rounded-right"></i> <strong>Email : </strong><%=Email %></li>
                  <li><i class="icofont-rounded-right"></i> <strong>Gender : </strong><%= Gender %></li>
                  <li><i class="icofont-rounded-right"></i> <strong>Phone : </strong><%= PhoneNum %></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Postcode : </strong><%= Postcode %></li>
                  <li><i class="icofont-rounded-right"></i> <strong>City : </strong><%= City %></li>
                  <li><i class="icofont-rounded-right"></i> <strong>State : </strong><%= State %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Personal Info Section -->

    <!-- ======= Service Info Section ======= -->
    <section id="serviceInfo" class="serviceInfo">
      <div class="container">
        <div class="section-title">
          <h2>Service Information</h2>

          <div class="card-deck">
            <% for(var i=0; i<ServicesList.length; i++){  %>
            <div class="card-grid">
              <div class="card">
                <div class="card-body">
                  <p><img src="<%= ServicesList[i].serviceImage %>" class="rounded mx-auto d-block" style="width:200px;height:200px;" alt="..."></p>
                  <p align="center" class="card-title" style="margin-top: 20px; font-family: Montserrat; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 500; color:black;"><%= ServicesList[i].serviceName %></p>
                  <p style="color:#dc3545; font-family: Arial; font-weight: 600; margin-top: 20px; font-size: 14px;">Price: RM <%= ServicesList[i].servicePrice %></p>
                  <p class="card-text" style="margin-top: 10px; font-family: Arial; font-size: 14px; color:#43464b; font-weight: 500;"><%= ServicesList[i].serviceSummary %>.</p>
                  <p class="card-text" style="margin-top: 2px; font-family: Arial; font-size: 14px; color:#43464b; font-weight: 500;">I am available at <%= ServicesList[i].serviceTime %>.</p>
                  <p class="card-text" style="margin-top: 2px; font-family: Arial; font-size: 14px; color:#43464b; font-weight: 500;">You can call me at <%= ServicesList[i].servicePhone %>.</p>
                  <p style="margin-top: 10px; color:#964b00; font-family: Arial; font-size: 13px; font-weight: 500;">Area: <%= ServicesList[i].serviceArea %>, <%= ServicesList[i].serviceState %> </p>
                </div>
                <button type="button" class="btn btn-danger button-2">Delete</button>
                <div class="card-footer">
                  <small class="text-muted"><%= ServicesList[i].serviceType %></small>
                </div>
              </div>

            </div>
            <% } %>
          </div>

        </div>
      </div>
    </section>
    <!-- End Service Info Section -->

    <!-- ======= Upload Service Section ======= -->
    <section id="uploadService" class="uploadService section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Upload Service</h2>
          <form class="row g-3" action="/uploadService" method="POST">
            <div class="col-md-12">
              <label for="servicetype">Choose type of service :</label>
              <select id="servicetype" name="servicetype">
                <option value="Personal Services"> Personal Services </option>
                <option value="Home Services"> Home Services </option>
                <option value="Children Services"> Children Services </option>
                <option value="Event Services"> Event Services </option>
              </select>
            </div>
            <div class="col-12">
              <label for="servicename" class="form-label">Service Name</label>
              <input type="text" class="form-control" id="servicename" placeholder="Service Name" name="servicename" required>
            </div>
            <div class="col-md-12">
              <label for="servicesum" class="form-label">Short Summary About Your Service</label>
              <textarea class="form-control" id="servicesum" rows="2" name="servicesum" required></textarea>
            </div>
            <div class="col-md-6">
              <label for="servicearea" class="form-label">Area</label>
              <input type="text" class="form-control" id="servicearea" name="servicearea" required>
            </div>
            <div class="col-md-6">
              <label for="servicestate" class="form-label">State</label>
              <input type="text" class="form-control" id="servicestate" name="servicestate" required>
            </div>
            <div class="col-md-3">
              <label for="serviceprice" class="form-label">Price(RM)</label>
              <input type="text" class="form-control" id="serviceprice" name="serviceprice" required>
            </div>
            <div class="col-md-3">
              <label for="servicetime" class="form-label">Time(:)</label>
              <input type="text" class="form-control" id="servicetime" name="servicetime" placeholder="12-Hour Periods (PM or AM)" required>
            </div>
            <div class="col-md-3">
              <label for="servicephone" class="form-label">Service Phone No.</label>
              <input type="text" class="form-control" id="servicephone" name="servicephone" placeholder="Please enter your business phone number" required>
            </div>
            <div class="col-md-12">
              <label for="linkService" class="form-label">Please insert link of your service picture (no " ")</label>
              <textarea class="form-control" id="linkService" name="linkService" rows="1" placeholder="Link of Your Image Service" required></textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary butupdate">Upload</button>
            </div>
          </form>
        </div>
      </div>
      </div>
    </section>
    <!-- End Upload Service Section -->

    <!-- ======= Update Personal information Section ======= -->
    <section id="updatePersonalInfo" class="updatePersonalInfo section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Update Personal information</h2>
          <form class="row g-3" action="/updateInfo" method="POST">
            <div class="col-md-6">
              <label for="inputFullName" class="form-label">Full Name</label>
              <input type="name" class="form-control" id="inputFullName" placeholder="<%= FullName %>" name="inputFullName" required>
            </div>
            <div class="col-md-6">
              <label for="inputName4" class="form-label">Name</label>
              <input type="name" class="form-control" id="inputName4" placeholder="<%= Name %>" name="inputName4" required>
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address Line 1</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="<%= Add1 %>" name="inputAddress" required>
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Address Line 2</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="<%= Add2 %>" name="inputAddress2" required>
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">City</label>
              <input type="text" class="form-control" id="inputCity" placeholder="<%= City %>" name="inputCity" required>
            </div>
            <div class="col-md-2">
              <label for="inputState" class="form-label">State</label>
              <input type="text" class="form-control" id="inputState" placeholder="<%= State %>" name="inputState" required>
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label">Postcode</label>
              <input type="text" class="form-control" id="inputZip" placeholder="<%= Postcode %>" name="inputZip" required>
            </div>
            <div class="col-md-3">
              <label for="inputGender" class="form-label">Gender</label>
              <input type="text" class="form-control" id="inputGender" placeholder="<%= Gender %>" name="inputGender" required>
            </div>
            <div class="col-md-3">
              <label for="inputPhone" class="form-label">Phone Number</label>
              <input type="text" class="form-control" id="inputPhone" placeholder="<%= PhoneNum %>" name="inputPhone" required>
            </div>
            <div class="col-md-12">
              <label for="exampleFormControlTextarea1" class="form-label">Short Summary About Yourself</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="<%= Summary %>" name="exampleFormControlTextarea1" rows="3" required></textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-danger butupdate">Update</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- End Update Personal information Section -->
  </main>

  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>DailyServices</span></strong>
      </div>
      <div class="credits">
        Designed by <a href="">DailyServices</a>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>
